<div class="wrapper">
    <div class="log">
        <figure>
            <img src="../assets/image/Icon 1.png" />
            <figcaption>SignUp</figcaption>
        </figure>
        <figure>
            <img src="../assets/image/2.png" />
            <figcaption>Subscribe</figcaption>
        </figure>
        
    </div><br />
    <div class="container">
        <input type="radio" checked id="ci" />
        <div class="sub"> 12 month subscription </div>
        
        <span>&#8377; 99 total</span>



    </div><br />
    <div class="container2">
        <input type="radio" id="ic" name="radio" />
        <div class="sub2"> 12 month subscription </div>
        
        <span class="er"> total &#8377; 179 </span>

        <div class="off2">offer</div>

    </div><br />
    <div class="container3">
        <input type="radio" name="radio" />
        <div class="sub3"> 6 month subscription </div>
        
        <span class="er2"> total &#8377; 149 </span>

        <div class="off2">offer</div>

    </div><br />
    <div class="container3">
        <input type="radio" name="radio" />
        <div class="sub3"> 3 month subscription </div>
        
        <span class="er2"> total &#8377; 99 </span>

        <div class="off2">offer</div>

    </div>
    <hr />
    <div class="to">Subscription Fee<span>&#8377; 18,401</span></div>
    
    <div class="container4">

        <div class="sub4">Limited Time offer.<br />offer valid till 25th march </div>
        
        <span class="er3"> &#8377; 18,401 </span>
    </div><br />
    <div class="to">Total (Incl. of 18% GST)   <span>&#8377; 18,401</span> </div><br />
    <div class="btn">
        <button class="cancel">Cancel</button>
        <button class="pay">proceed to pay</button>


    </div><br />
    <div class="razor">
        <img src="../assets/image/razorpay.png" />

    </div>
