<header>
           
    <nav>
        <img [src]="myimage" />
        <ul>
            <li>
                <a href="#">Course</a>

                <ul>
                    <li>Web developemnt</li>
                    <li>Web developemnt</li>
                    <li>Web developemnt</li>
                    <li>Web developemnt</li>
                </ul>
            </li>


        </ul>
        <ul>
            <li>
                <a href="#">Program</a>

                <ul>
                    <li>Web developemnt</li>
                    <li>Web developemnt</li>
                    <li>Web developemnt</li>
                    <li>Web developemnt</li>
                </ul>
            </li>


        </ul>
    </nav>
        

        <div class="ser">
            <span><i class="fa fa-search" aria-hidden="true"></i></span>
            <h3>Log In</h3>
            <button class="join"><a href="/subscription">Join Now</a></button>
        </div>


    
    
</header>
<div class="section">
    <p>Access curated courses worth<br /> &#8377; 180000 at just <span class="price"> &#8377; 99</span> per year!<br /></p>
    <h4> <img src="../assets/image/book.png" height="25px"/> <span class="highlight">100+</span> Job relevant Courses</h4><br />
    <h4> <img src="../assets/image/time.png" height="25px"/> <span class="highlight">20000+</span> Hours of Content</h4><br />
    <h4>  <img src="../assets/image/live.png" height="25px"/> <span class="highlight">Exclusive</span >Webinar access</h4><br />
    <h4>  <img src="../assets/image/scholar.png" height="25px"/> Scholarship Worth <span class="highlight">&#8377; 94,000</span></h4><br />
    <h4>  <img src="../assets/image/ad.png" height="25px"/>  <span class="highlight">Ad Free</span> Learning experience</h4><br />
    

</div>

